body{
   background-color: aqua;
}

.dice{
   display: inline-block;
   text-align: center;
}

.container{
   text-align: center;
   width: 80%;
   margin: 30px auto;

}

h1{
   font-size: 60px;
}

h3{
   font-size: 20px;
}

.buttn{
   background-color: crimson;
   border: none;
   text-align: center;
   padding: 15px 32px;
   display: inline-block;
   font-size: 16px;
}
.dropdown{
   position: relative;
   display: inline-block;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: darkgray ;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgb(23, 122, 221,2);
   padding: 12px 16px;
   z-index: 2;
}